/* Body */
body {
    margin: 0;
    padding: 0;
}

/* Navigation Bar */
nav {
    background-color: #fc7a7a;
    color: black;
    padding: 10px;
    display: flex;
    position: fixed;
    top: 0;
    width: -webkit-fill-available;
    z-index: 1;
}

nav > header {
    display: flex;
    margin-right: auto;
}

nav > header > a > .header-logo {
    background-image: url(https://pbs.twimg.com/profile_images/1437720792473628677/vRkzKAhw_400x400.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

nav > section {
    display: inline-block;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
}

nav > section > a {
    color: black;
    text-decoration: none;
    padding: 10px;
    border: 1px solid black;
    border-radius: 7px;
    font-weight: bold;
}

nav > section > a:hover {
    background-color: black;
    color: white;
}

/* Main */
main {
    background-color: antiquewhite;
    display: grid;
    margin-top: 60px;
}

main > article > header,
main > article > p {
    padding-left: 10px;
    padding-right: 10px;
}

/* Banner */
.banner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.banner-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.banner-item {
    flex: 1 0 100%;
}

.banner-item img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.banner > button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.banner > .prev {
    left: 10px;
}

.banner > .next {
    right: 10px;
}

.banner > button:focus {
    outline: none;
}

/* Profile */
main > .profile {
    padding-left: 10px;
    padding-right: 10px;
}

main > .profile > .profile-list {
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

main > .profile > .profile-list > .profile-container {
    display: grid;
    justify-items: center;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

main > .profile > .profile-list > .profile-container > .image {
    background-image: url(https://cdn-icons-png.flaticon.com/512/3135/3135715.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    padding: 5px;
}

main > .profile > .profile-list > .profile-container > span {
    font-weight: bold;
    font-size: large;
    padding: 10px;
}

/* Portfolio */
main > .portfolio {
    display: grid;
    background-color: aqua;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 15px;
    border-top: black 1px solid;
}

main > .portfolio > header {
    width: 80vw;
}

main > .portfolio > .portfolio-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

main > .portfolio > .portfolio-container > .form-init {
    justify-items: center;
    margin-right: auto;
    width: 100%;
    padding-right: 0;
}

/* Form Elements */
.form-input {
    background-color: #ffffff;
    border: 1px solid black;
    color: black;
    padding: 5px 2px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    width: 98%;
    border-radius: 5px;
}

.form-radio {
    appearance: none;
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

.form-radio:checked {
    background-color: #4CAF50;
}

.form-radio + span {
    vertical-align: middle;
}

#form-result {
    width: 100%;
    height: 250px;
    border: 1px solid black;
    background-color: rgba(100, 100, 100, 0.5);
}

.form-table {
    width: 100%;
}

#pesan {
    background-color: #ffffff;
    border: 1px solid black;
    color: black;
    padding: 1px 2px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    width: 98%;
    border-radius: 5px;
    min-height: 100px;
}

#submitForm {
    display: block;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#submitForm:hover {
    background-color: #45a049;
}

/* Footer */
footer {
    background-color: #fc7a7a;
    color: black;
    padding: 10px;
    text-align: end;
}

/* Responsive Styles */

/* Tablet - Ipad */
@media (max-width: 768px) {
    /* Navigation */
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav > section {
        margin: 10px 0;
    }

    main {
        margin-top: 0;
    }

    /* Profile */
    main > .profile > .profile-list > .profile-container > span {
        font-size: medium;
    }

    /* Portfolio */
    main > .portfolio > .portfolio-container {
        flex-direction: column;
    }

    main > .portfolio > header {
        width: 90vw;
    }

    main > .portfolio > .portfolio-container > .form-init {
        width: 100%;
    }

    #form-result {
        width: 100%;
    }
}

/* Mobile */
@media (max-width: 480px) {
    /* Navigation */
    nav {
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    nav > section > a {
        display: block;
        margin: 5px 0;
    }

    /* Banner Height */
    .banner-item img {
        height: 300px;
    }

    /* Profile */
    main > .profile > .profile-list {
        flex-direction: column;
    }

    main > .profile > .profile-list > .profile-container > .image {
        width: 80px;
        height: 80px;
    }

    main > .profile > .profile-list > .profile-container > span {
        font-size: medium;
    }

    /* Portfolio  */
    main > .portfolio > header {
        width: 95vw;
    }

    main > .portfolio > .portfolio-container > .form-init {
        width: 100%;
    }

    #form-result {
        width: 100%;
    }
}
