/* Body */
body {
    margin: 0;
    padding: 0;
}

/* Navigation Bar */
nav {
    background-color: #fc7a7a;
    color: black;
    padding: 10px;
    display: flex;
}

nav > header {
    display: flex;
    margin-right: auto;
}

nav > header >.header-logo {
    background-image: url(https://cdn-icons-png.flaticon.com/512/3135/3135715.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

nav > section {
    display: inline-block;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
}

nav > section > a {
    color: black;
    text-decoration: none;
    padding: 10px;
    border: 1px solid black;
    border-radius: 7px;
    font-weight: bold;
}

nav > section > a:hover {
    background-color: black;
    color: white;
}

/* Main */
main {
    background-color: antiquewhite;
    display: grid;
}

main > article > header {
    padding-left: 10px;
    padding-right: 10px;
}

main > article > p {
    padding-left: 10px;
    padding-right: 10px;
}


main > article > .banner {
    background-image: url(https://www.ifolor.ch/content/dam/ifolor/inspire-gallery/FFL/photoshop-ein-panorama-aus-einzelaufnahmen-erstellen/Panorama-580.jpg);
    width: 100%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
}

main > .profile {
    padding-left: 10px;
    padding-right: 10px;
}

main > .profile > .profile-list {
    display: flex;
    margin-bottom: 20px;
}

main > .profile > .profile-list > .profile-container {
    display: grid;
    justify-items: center;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

main > .profile > .profile-list > .profile-container > .image {
    background-image: url(https://cdn-icons-png.flaticon.com/512/3135/3135715.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    padding: 5px;
}

main > .profile > .profile-list > .profile-container > span {
    font-weight: bold;
    font-size: large;
    padding: 10px;
}

main > .portfolio {
    display: grid;
    background-color: aqua;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 15px;
    border-top: black 1px solid;
}

main > .portfolio > header {
    width: 80vw;
}

main > .portfolio > .portfolio-container {
    display: flex;
    align-items: center;
}

main > .portfolio > .portfolio-container > .form-init {
    justify-items: center;
    margin-right: auto;
    width: 40%;
    padding-right: 20px;
}

.form-input {
    background-color: #ffffff;
    border: 1px solid black;
    color: black;
    padding: 1px 2px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    width: 98%;
    border-radius: 5px;
}

main > .portfolio > .portfolio-container > .form-result {
    width: 60%;
    height: 200px;
    justify-content: flex-end;
    border: 1px solid black;
    background-color:rgba(100, 100, 100, 0.5);
}

/* Footer */
footer {
    background-color: #fc7a7a;
    color: black;
    padding: 10px;
    text-align: end;
}